<a href="https://colab.research.google.com/github/Tounsi22/BigData/blob/main/Projet_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import missingno as msno
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [ ]:
df_train= pd.read_csv('train.csv')
df_train.head()

   battery_power  blue  clock_speed  ...  touch_screen  wifi  price_range
0            842     0          2.2  ...             0     1            1
1           1021     1          0.5  ...             1     0            2
2            563     1          0.5  ...             1     0            2
3            615     1          2.5  ...             0     0            2
4           1821     1          1.2  ...             1     0            1

[5 rows x 21 columns]

In [ ]:
df_test = pd.read_csv('test.csv')
df_test.head()

   id  battery_power  blue  clock_speed  ...  talk_time  three_g  touch_screen  wifi
0   1           1043     1          1.8  ...          2        0             1     0
1   2            841     1          0.5  ...          7        1             0     0
2   3           1807     1          2.8  ...         10        0             1     1
3   4           1546     0          0.5  ...          7        1             1     0
4   5           1434     0          1.4  ...          7        1             0     1

[5 rows x 21 columns]

In [ ]:
df_train.describe()

       battery_power       blue  ...         wifi  price_range
count    2000.000000  2000.0000  ...  2000.000000  2000.000000
mean     1238.518500     0.4950  ...     0.507000     1.500000
std       439.418206     0.5001  ...     0.500076     1.118314
min       501.000000     0.0000  ...     0.000000     0.000000
25%       851.750000     0.0000  ...     0.000000     0.750000
50%      1226.000000     0.0000  ...     1.000000     1.500000
75%      1615.250000     1.0000  ...     1.000000     2.250000
max      1998.000000     1.0000  ...     1.000000     3.000000

[8 rows x 21 columns]

In [ ]:
X = df_train.drop(["price_range"],axis=1)
Y = df_train["price_range"].values

x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size = 0.2,random_state=42)

min_max_scaling = preprocessing.MinMaxScaler()
x_train = min_max_scaling.fit_transform(x_train)
x_test = min_max_scaling.transform(x_test)

In [ ]:
from sklearn.svm import SVC

svm = SVC(kernel='rbf', random_state=0, gamma=.10, C=1.0)
svm.fit(x_train, y_train)
print("train accuracy:",svm.score(x_train,y_train))
print("val accuracy:",svm.score(x_test,y_test))

train accuracy: 0.92875
val accuracy: 0.9025

In [ ]:
from sklearn import tree

#Create tree object
decision_tree = tree.DecisionTreeClassifier(criterion='gini')

#Train DT based on scaled training set
decision_tree.fit(x_train, y_train)

print("train accuracy:",decision_tree.score(x_train,y_train))
print("val accuracy:",decision_tree.score(x_test,y_test))

train accuracy: 1.0
val accuracy: 0.84

In [ ]:
#RandomForest
from sklearn.ensemble import RandomForestClassifier

#Create Random Forest object
random_forest = RandomForestClassifier()

#Train model
random_forest.fit(x_train, y_train)

print("train accuracy:",random_forest.score(x_train,y_train))
print("val accuracy:",random_forest.score(x_test,y_test))

train accuracy: 1.0
val accuracy: 0.8825

In [ ]:
#KNNeighbours
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 10, metric = 'minkowski', p =2)
classifier.fit(x_train, y_train)

#predicting the values
y_pred = classifier.predict(x_test)

print("train accuracy:",random_forest.score(x_train,y_train))
print("val accuracy:",random_forest.score(x_test,y_test))

train accuracy: 1.0
val accuracy: 0.8825